*{margin: 0;padding: 0;list-style: none;}
html{
	min-height: 100%;
}
body{
	background: url('../img/bg.jpg');
    background-size: cover;
	background-repeat: no-repeat;
}
.container{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
/* 	background: #ccc; */
}
 /*导航*/
.nav{
	margin-top: 10px;
	height: 50px;
	line-height: 50px;
}
.nav ul li{
	float: right;
	font-size: 15px;
}
.nav ul li a{
	text-decoration: none;
	color: #152b3c;
	padding:15px 30px;
}
.nav ul li a:hover{
	border: 1px solid white;
	border-radius:5%;
	color: white;
}
/* 主题内容 */
.main{
	position: absolute;
	width:1200px;
	height: 450px;
}
.sideright{
	position: relative;
	top: 50%;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 480px;
	height: 450px;
}
.sideright .index{
	position: relative;
	width: 330px;
	height: 350px;
	top: 0;
	right: 0;
	: 0;
	left: 0;
	background-color:rgba(255,255,255,0.75);
	margin: auto;
}
.headline{
	font-size: 22px;
	text-align: center;
	padding: 20px;
}
input[type="text"],
input[type="submit"]{
	-web-kit-appearance:none;
  	-moz-appearance: none;
  	display: block;
  	margin: 0 auto;
  	font-size:15px;
  	width: 240px;
}
input[type="text"]{
	height:35px;
	border-radius:3px;
	border:1px solid #c8cccf;
	color:#6a6f77;
	outline:0;
}
input[type="submit"]{
	margin-top: 25px;
	height: 35px;
	background: #357eb8;
	color: #bcedff;
	font-weight: bold;
	font-size: 16px;
}
input[type="submit"]:hover{
	background: #0e62a3;
	cursor: pointer;
}
.astyle{
	margin: 5px 0 5px 42px;
	font-size:17px;
	color: #6a6f77;
}
.error{
	margin: 5px 0 5px 42px;
	font-size:17px;
	color: #FF0000;
}
.bstyle{
	display: block;
	float: left;
	margin-left: 46px;
	font-size: 15px;
}
.cstyle{
	display: block;
	float: right;
	margin-right: 46px;
	font-size: 15px;
}
.cstyle a{
	text-decoration: none;
}
